$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$ipadPro: "(min-width: 1023px)";
$ipadProLandscape: "(min-width: 1365px)";
$desktop: "(min-width: 1024px)";
html {
    background: #e2e2e2;
}

.app-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.MuiBadge-colorPrimary-90 {
    background-color: #0c1c77 !important;
}

.MuiButtonBase-root-46.MuiButton-root-233.MuiButton-fab-250.MuiButton-extendedFab-251.MuiButton-contained-244.MuiButton-raised-247 {
    background-color: #0c1c77;
    margin-left: 25px;
    span {
        color: white;
    }
}

.messages {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 25px;
}

.fromWho {
    position: absolute;
    top: 4px;
    left: 12px;
    font-size: .66rem;
    color: wheat;
}

.fromThem {
    .MuiPaper-root-9 {
        position: relative;
        margin: 15px 0;
        padding: 10px 0 10px 12px;
        width: 300PX;
        background: #3f51b5;
        color: white;
    }
}

.fromMe {
    .MuiPaper-root-9 {
        position: relative;
        margin: 15px 0;
        padding: 10px 0 10px 12px;
        width: 300px;
        float: right;
    }
}

.MuiGrid-spacing-xs-24-143 {
    width: 100% !important;
}

.MuiGrid-container-119 {
    height: calc(100vh - 180px);
    overflow-y: scroll;
    box-sizing: border-box;
    margin-top: 15px;
}

@media #{$mobile} {
    .messages {
        zoom: 0.8 !important;
    }
    header {
        div {
            h2 {
                font-size: 10px !important;
            }
        }
    }
}

.MuiFormControl-fullWidth-219 {
    width: calc(100vw - 115px) !important;
}

.MuiButton-extendedFab-251 {
    border-radius: 50% !important;
    height: 56px !important;
}